{% extends 'app/base.html' %}

{% block content %}
<div  style="background-color: rgba(214, 116, 92, 0.8); border-radius: 25px;">
    <div class="row text-center mt-3 ml-5 mr-5">
        <div class="col-md-12">
            <img class="rounded-circle account-img mt-3" style="width: 100px; height: 100px;" src="{{ tribe.tribeLogo.url }}">
        </div>
    </div>
    <div class="row text-center ml-5 mr-5">
        <div class="col-md-12">
            <h1>{{ tribe.tribeName }}</h1>
        </div>
    </div>
    </div>

    {% for myTribe in myTribes %}
        {% if tribe == myTribe %}
            <div class="row mt-3">
                <div class="col-md-6 text-right pr-1">
                    <h3>Joined</h3>
                </div>
                <div class="col-md-3 text-left align-middle pl-0">
                    <div><i class="fa-solid fa-circle-check fa-2xl" style="color:green;"></i></div>
                </div>
                <div class="col-md-3 text-right">
                    {% for tribeMember in tribeMembers %}
                    {% if tribeMember.tribe == tribe and tribeMember.member == request.user %}
                    <form action="{% url 'MusicTribes:kick_user' tribeMember.id %}" method="post" role="form">
                        {% csrf_token %}
                        <input type="submit" value="Leave Tribe" class="btn btn-warning">
                    </form>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>   
        {% endif %}
    {% endfor %}

    {% if request.user == tribe.chieftain %}
        <a href="{% url 'MusicTribes:add_playlist' tribe.id %}" class="btn btn-warning my-3">Add new Playlist</a>
    {% endif %}

    <div class="row">
        <div class="col-md-8">
            <div class="row" style="background-color: rgba(240, 124, 22, 0.8); border-radius: 25px;">
                <div class="row m-2">
                    <div class="col-md-12">
                        <h1>Playlists: </h1>
                    </div>
                </div>
            <div class="row mt-3">
            {% for playlist in playlists %}
                {% if playlist.tribe == tribe %}
                    
                        <div class="col-md-4">
                            <p><a href="{% url 'MusicTribes:playlist_detail' playlist.id tribe.id %}" class="btn btn-warning ml-3">{{ playlist.name }}</a></p>
                        </div>
                        {% if tribe.chieftain == request.user  %}
                            <div class="col-md-4">
                                <form action="{% url 'MusicTribes:delete_playlist' playlist.id %}" method="post" role="form">
                                    {% csrf_token %}
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                </form>
                            </div>
                            <div class="col-md-4">
                                <a href="{% url 'MusicTribes:edit_playlist' playlist.id %}" class="btn btn-primary">Edit</a>
                            </div>
                        {% endif %}
                    
                {% endif %}
            {% endfor %}
            </div>
        </div>
        </div>
        <div class="col-md-4 text-center" style="background-color: rgba(238, 96, 67, 0.8); border-radius: 25px;">
            <h3>Tribe Members:</h3>
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3" style="border:1px solid black;">
                    <p>{{ tribe.chieftain }}(chieftain)</p>
                </div>
            </div>
            {% for tribeMember in tribeMembers %}
                {% if tribeMember.tribe == tribe%}
                    <div class="row">
                        <div class="col-md-8">
                            <p>{{ tribeMember.member.username }}</p>
                        </div>
                        {% if tribe.chieftain == request.user %}
                            <div class="col-md-4">
                                <form action="{% url 'MusicTribes:kick_user' tribeMember.id %}" method="post" role="form">
                                    {% csrf_token %}
                                    <input type="submit" value="Kick" class="btn btn-danger">
                                </form>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="mb-3 p-2" style="border:1px solid black;">
                <h3>Chatbox</h3>
                {% for message in messages %}
                    {% if message.tribe == tribe %}
                        {% if tribe.chieftain == message.sender %}
                        <div class="m-3">
                            <div class="row" style="background-color: rgb(214, 43, 80)">
                                <p class="pl-1 mb-0"> 
                                    <img class="rounded-circle account-img" src="{{ message.sender.profile.image.url }}" style="width: 30px; height: 30px">
                                    {{ message.sender }} (chieftain)
                                </p>
                            </div>
                            <div class="row" style="background-color: rgb(214, 43, 80)">
                                <p class="pl-5 mt-0 mb-0" style="font-size: 10px;">{{ message.timestamp }}</p>
                            </div>
                            <div class="row" style="background-color: rgb(229, 149, 149)">
                                <p class="pl-3 mt-2">{{ message.message }}</p>
                                <div class="ml-auto">
                                    {% if tribe.chieftain == request.user or user.is_superuser %}
                                        <form action="{% url 'MusicTribes:delete_message' message.id tribe.id%}" method="post" role="form">
                                            {% csrf_token %}
                                            <input  type="submit" value="Delete" class="btn btn-danger mr-1 mt-1">
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="m-3">
                            <div class="row" style="background-color: rgb(113, 113, 230)">
                                <p class="pl-1 mb-0"> 
                                    <img class="rounded-circle account-img" src="{{ message.sender.profile.image.url }}" style="width: 30px; height: 30px">
                                    {{ message.sender }}
                                </p>
                            </div>
                            <div class="row" style="background-color: rgb(113, 113, 230)">
                                <p class="pl-5 mt-0 mb-0" style="font-size: 10px;">{{ message.timestamp }}</p>
                            </div>
                            <div class="row" style="background-color: rgb(162, 162, 235)">
                                <p class="pl-3 mt-2">{{ message.message }}</p>
                                <div class="ml-auto">
                                    {% if tribe.chieftain == request.user or user.is_superuser %}
                                        <form action="{% url 'MusicTribes:delete_message' message.id tribe.id%}" method="post" role="form">
                                            {% csrf_token %}
                                            <input style="height: 30px" type="submit" value="Delete" class="btn btn-danger mr-1 mt-1">
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                

                {% if user.is_authenticated %}
                <div class="col-md-12">
                    <form action="{% url 'MusicTribes:add_message' tribe.id %}" method="post" role="form">
                        {% csrf_token %}
                        <input id="message" type="text" name="message" class="mt-3" placeholder="Enter your comment">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}