{% extends 'app/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="mt-3">
        <a href="{% url 'MusicTribes:create_tribe' %}" class="btn btn-warning" role="button">Add new Tribe</a>
    </div>
        
        {% if chieftainTribes %}
        <div class="row mt-3" style="background-color: rgba(201, 81, 51, 0.8);">
            <div class="col-md-12">
                <h3>I am Chieftain:</h3>
            </div>
        </div>
            {% endif %}
            {% for tribe in tribes %}
                {% if tribe.chieftain == request.user %}
                    <div class="row" style="background-color: rgba(214, 116, 92, 0.8);">
                        <div class="col-md-4 offset-md-4">
                            <a href="{% url 'MusicTribes:detail' tribe.id %}"><img class="rounded-circle account-img ml-5 mr-5 m-3" style="width: 100px; height: 100px;" src="{{ tribe.tribeLogo.url }}"></a>
                            <a href="{% url 'MusicTribes:detail' tribe.id %}" class="btn btn-warning" role="button">{{ tribe.tribeName }}</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        {% if myTribes %}
        <div class="row mt-3" style="background-color: rgba(35, 57, 225, 0.8);">
            <div class="col-md-12">
                <h3>I am a Member:</h3>
            </div>
        </div>
        {% endif %}
                {% for tribe in myTribes %}
                            <div class="row" style="background-color: rgba(79, 120, 215, 0.8);">
                                <div class="col-md-4 offset-md-4">
                                    <a href="{% url 'MusicTribes:detail' tribe.id %}"><img class="rounded-circle account-img ml-5 mr-5 m-3" style="width: 100px; height: 100px;" src="{{ tribe.tribeLogo.url }}"></a>
                                    <a href="{% url 'MusicTribes:detail' tribe.id %}" class="btn btn-warning">{{ tribe.tribeName }}</a>
                                </div>
                            </div>     
                {% endfor %}

        {% if notMyTribes %}
        <div class="row mt-3" style="background-color: rgba(228, 228, 20, 0.8);">
            <div class="col-md-12">
                <h3>I am not a Member:</h3>
            </div>
        </div>
        {% endif %}
            {% for tribe in notMyTribes %}
                <div class="row" style="background-color:   rgba(229, 235, 133, 0.8);">
                    <div class="col-md-4 offset-md-4">
                        <a href="{% url 'MusicTribes:detail' tribe.id %}"><img class="rounded-circle account-img ml-5 mr-5 m-3" style="width: 100px; height: 100px;" src="{{ tribe.tribeLogo.url }}"></a>
                        <a href="{% url 'MusicTribes:detail' tribe.id %}" class="btn btn-warning">{{ tribe.tribeName }}</a>
                    </div>
                    <div class="col-md-4 mt-5">
                        <form action="{% url 'MusicTribes:join_tribe' tribe.id %}" method="post" role="form">
                            {% csrf_token %}
                            <input type="hidden"  name="tribe" value="{{ tribe.id }}">
                            <input type="hidden"  name="member" value="{{ request.user.id }}">
                            <input type="submit" value="Join Tribe" class="btn btn-success">
                        </form>
                    </div>
                </div>
            {% endfor %}
    {% else %}
        <div class="row mt-3" style="background-color: rgba(228, 228, 20, 0.8);">
            <div class="col-md-12">
                <h3>I am not a Member:</h3>
            </div>
        </div>
            {% for tribe in tribes %}
                <div class="row text-center" style="background-color:   rgba(229, 235, 133, 0.8);">
                    <div class="col-md-2 offset-md-4">
                        <img class="rounded-circle account-img ml-5 mr-5 m-3" style="width: 100px; height: 100px;" src="{{ tribe.tribeLogo.url }}">
                    </div>
                    <div class="col-md-2 ">
                        <a href="{% url 'MusicTribes:detail' tribe.id %}" class="btn btn-warning ml-5 mr-5 m-3 mt-5">{{ tribe.tribeName }}</a>
                    </div>
                    <div class="col-md-4 mt-5">
                        <form action="{% url 'MusicTribes:join_tribe' tribe.id %}" method="post" role="form">
                            {% csrf_token %}
                            <input type="hidden"  name="tribe" value="{{ tribe.id }}">
                            <input type="hidden"  name="member" value="{{ request.user.id }}">
                            <input type="submit" value="Join Tribe" class="btn btn-success">
                        </form>
                    </div>
                </div>
            {% endfor %}
    {% endif %} 
{% endblock %}

