{% extends 'app/base.html' %}

{% block content %}
    <div class="m-3" style="background-color: rgba(238, 96, 67, 0.8); border-radius: 25px;">
        <div class="row text-center">
            <div class="col-md-12 mt-2">
                <h1>{{ playlist.name }}</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <h1>{{ playlist.description }}</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <h3>Creator: {{ playlist.creator }}</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12 mb-2">
                <h5>Created: {{ playlist.timestamp }}</h5>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    {% if user.is_authenticated %}
                        {% if request.user == tribe.chieftain or user.is_superuser %}
                                <a href="{% url 'MusicTribes:add_track' tribe.id playlist.id %} " class="btn btn-warning my-3">Add new Track</a>
                        {% else %}
                            {% for myTribe in myTribes %}
                                {% if tribe == myTribe%}
                                    <a href="{% url 'MusicTribes:add_track' tribe.id playlist.id %}" class="btn btn-warning my-3">Add new Track</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div style="background-color: rgba(240, 124, 22, 0.8); border-radius: 25px;">
                <div class="row ml-1">
                    <div class="col-md-12">
                        <h1>Tracks: </h1>
                    </div>
                </div>
                {% for track, likes in tracks_with_likes %}
                    <div class="row ml-2 mt-3">
                        <div class="col-md-4">
                            <p>{{ track.artist }} - {{track.title}}({{track.duration}})</p>
                        </div>
                        {% if user.is_authenticated %}
                            {% if tribe.chieftain == request.user or user.is_superuser or request.user == track.user %}
                                <div class="col-md-1">
                                    <form action="{% url 'MusicTribes:delete_track' track.id %}" method="post" role="form">
                                        {% csrf_token %}
                                        <input type="submit" value="Delete" class="btn btn-danger">
                                    </form>
                                </div>
                            {% endif %}
                        {% endif %}
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div>Likes: {{track.like_score}}</div>
                                </div>
                                <div class="col-md-6">
                                    {% if user.is_authenticated %}
                                        {% if tribe.chieftain == request.user or user.is_superuser %}
                                            <form action="{% url 'MusicTribes:like_track' track.id %}" method="post" role="form">
                                                {% csrf_token %}
                                                <input type="submit" value="{{ likes.value|yesno:'Unlike, Like' }}" class="btn btn-primary">
                                            </form>
                                        {% else %}
                                            {% for myTribe in myTribes %}
                                                {% if myTribe == tribe %}
                                                <form action="{% url 'MusicTribes:like_track' track.id %}" method="post" role="form">
                                                    {% csrf_token %}
                                                    <input type="submit" value="{{ likes.value|yesno:'Unlike, Like' }}" class="btn btn-primary">
                                                </form>
                                                {% endif %}
                                            {% endfor%}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <a href="{{track.url}}" target="_blank" class="btn btn-success">Play</a>
                        </div>
                        <div class="col-md-2">
                            <button data-toggle="collapse" data-target="#{{track.id}}" class="btn btn-warning ml-3">
                                {% if track.comment_score > 0 %}
                                    Comments ({{track.comment_score}})
                                {% else %}
                                        Comment        
                                {% endif %}
                        </button>
                        </div>
                        
                    </div>
                    

                    <div id="{{track.id}}" class="collapse">

                        <div class="row ml-3">
                            <div class="col-md-6">
                                {% if track.comment_score == 0 %}
                                    <div>No one has commented yet. Be the first!</div>
                                {% endif %}
                                {% for comment in comments %}
                                    {% if comment.track == track %}
                                        {% if tribe.chieftain == comment.user %}
                                            <div class="row" style="background-color: rgb(214, 43, 80)">
                                                <p class="pl-1 mb-0"> 
                                                    <img class="rounded-circle account-img" src="{{ comment.user.profile.image.url }}" style="width: 30px; height: 30px">
                                                    {{ comment.user }} (chieftain)
                                                </p>
                                            </div>
                                            <div class="row" style="background-color: rgb(214, 43, 80)">
                                                <p class="pl-5 mt-0 mb-0" style="font-size: 10px;">{{ comment.timestamp }}</p>
                                            </div>
                                            <div class="row" style="background-color: rgb(229, 149, 149)">
                                                <p class="pl-3">{{ comment.text }}</p>
                                            </div>
                                            <div class="ml-auto">
                                                {% if tribe.chieftain == request.user or user.is_superuser %}
                                                    <form action="{% url 'MusicTribes:delete_comment' comment.id track.id %}" method="post" role="form">
                                                        {% csrf_token %}
                                                        <input style="width: 70px; height: 30px" type="submit" value="Delete">
                                                    </form>
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            <div class="row" style="background-color: rgb(113, 113, 230)">
                                                <p class="pl-1 mb-0"> 
                                                    <img class="rounded-circle account-img" src="{{ comment.user.profile.image.url }}" style="width: 30px; height: 30px">
                                                    {{ comment.user }}
                                                </p>
                                            </div>
                                            <div class="row" style="background-color: rgb(113, 113, 230)">
                                                <p class="pl-5 mt-0 mb-0" style="font-size: 10px;">{{ comment.timestamp }}</p>
                                            </div>
                                            <div class="row" style="background-color: rgb(162, 162, 235)">
                                                <p class="pl-3">{{ comment.text }}</p>
                                                <div class="ml-auto">
                                                    {% if tribe.chieftain == request.user or user.is_superuser %}
                                                        <form action="{% url 'MusicTribes:delete_comment' comment.id track.id %}" method="post" role="form">
                                                            {% csrf_token %}
                                                            <input type="submit" value="Delete" class="btn btn-danger mt-1 mr-2">
                                                        </form>
                                                    {% endif %}
                                                </div>
                                            </div>
                                           
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row ml-3" >
                            <div class="col-md-4 offset-md-1 mt-2">
                                {% if user.is_authenticated %}
                                    {% if tribe.chieftain == request.user or user.is_superuser %}
                                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                                        <form action="{% url 'MusicTribes:add_comment' track.id %}" method="post" >
                                            {% csrf_token %}
                                            <input type="text" name="text" placeholder="Enter your comment">
                                            <input type="submit" value="Submit" class="btn btn-primary">
                                        </form>
                                    {% else %}
                                        {% for myTribe in myTribes %}
                                            {% if myTribe == tribe %}
                                                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                                                <form action="{% url 'MusicTribes:add_comment' track.id %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="text" name="text" placeholder="Enter your comment">
                                                    <input type="submit" value="Submit" class="btn btn-primary">
                                                </form>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    
                    </div>
                    {% empty %}
                    <h1>empty</h1> 
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}