{% extends 'app/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
 <div class="content-section">
      <div class="media">
        <div class="media-body text-center">
          <img class="rounded-circle account-img mt-3" src="{{ user.profile.image.url }}">
          <h2 class="account-heading mt-4">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }} <!-- User form -->
            {{ p_form|crispy }} <!-- Profile form -->
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
    </div>
{% endblock %}